body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 350px;
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.note {
  font-size: 12px;
  color: gray;
}
